body.dark{
    background-color: #2e2e2e;
}

body.dark h1{
    color: #c2c2c2;
    text-shadow: 0px 0px 10px black;
}

body.dark h2{
    color: #c2c2c2;
    text-shadow: 0px 0px 10px black;
}

body.dark .display-img{
    background: url(../img/background-header-dark.jpg);
}

body.dark header{
    background-color: #272727;
}

body.dark .limit-app a{
    color: #c2c2c2;
}

body.dark .nav-menu{
    background-color: #272727;
}

body.dark section .limit-app .item img:hover{
    box-shadow: 0px 0px 15px rgb(143, 143, 143) ;
}

@media(max-width: 700px){
    body.dark .nav-menu ul li{
        border-bottom: 2px solid #4d4d4d;
    }
    body.dark .nav-menu ul li:first-of-type{
        border-top: 2px solid #4d4d4d;
    }
}